#about{
  background-color: #dbe3e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.userPng {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-right: 25px;
  bottom: 0px;
  animation: danceUser 2s ease-in-out infinite;
  animation-direction: alternate;
}
@keyframes danceUser {
  0% {
    transform: rotate3d(2, 2, 3, 20deg);
  }
  100% {
    transform: rotate3d(2, 2, 3, -20deg);
  }
}
.second h3 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.second p {
  width: 35vw;
  height: 25vh;
  text-align: justify;
  align-self: center;
  font-size: 25px;
  text-indent: 2em;
}
.second p::first-letter {
  font-size: 30px;
}

.scrollIcon{
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 12vh;
}
@media (max-width: 320px){
  .second p{
    font-size: 4vw;
    width: 59vw;
  }
  .second h3 {
    font-size: 7vw;
  }
  .second p::first-letter {
    font-size: 5vw;
  }
  .scrollIcon{
    width: 7vw;
    height: 7vw;
    
  }
}

@media (max-width: 1115px){
  .second p{
    width: 55vw;
  }
}

@media (max-width: 700px){
  .second p{
    width: 65vw;
  }
}

@media (max-width: 600px){
  .second p{
    width: 85vw;
  }
}