.navSection {
  display: flex;
  width: 100vw;
  height: 70px;
  flex-direction: row;
  margin-top: 27px;
}

.colorful img {
  width: 42px;
  height: 42px;
  animation: danceUser 1.5s ease-in-out infinite;
  animation-direction: alternate;
  /* opacity: 100%; */
}
.colorful {
  width: 50px;
  height: 50px;
  cursor: pointer;
  order: 2;
  flex-grow: 1;
  /* opacity: 100%; */
}

.goToSections {
  display: flex;
  order: 1;
  flex-grow: 6;
  margin-left: 30px;
}
.goToSections a {
  text-decoration: none;
  justify-content: flex-end;
  color: black;
  font-size: 30px;
  margin-left: 30px;
  letter-spacing: 2px;
}

.goToSections a:hover {
  text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

@keyframes danceUser {
  0% {
    transform: rotate3d(2, 2, 3, 20deg);
  }
  100% {
    transform: rotate3d(2, 2, 3, -20deg);
  }
}

@media (max-width: 320px) {
  .goToSections a {
    font-size: 4.8vw;
  }
}

 .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;

  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay button {
  color: black;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 154px;
  font-size: 36px;
  cursor: pointer;
}

.socialIcons {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  /* align-self: center; */
  /* align-items: center; */
  position: inherit;
  left: 33vw;
  width: 32vw;
}
