.first {
  background-color: #eebb4d;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-content: center;
}
.first h1,
h2 {
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 35vw;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 12vh;
}
.secondPart {
  height: 43vh;
  align-items: center;
  align-content: center;
  align-self: center;
}

@keyframes danceScroll {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}

@media (max-width: 320px) {
  .first h1 {
    font-size: 7vw;
  }

  .first h2 {
    font-size: 3.8vw;
  }
}
